:root {
        --text-color:#4D5AE5;;
        --primary-white-color: #ffffff;
        --primary-font: "Roboto", sans-serif;
        --logo-color: #2E2F42;
        --background-color: #F4F4FD; 
        --secondary-color: #434455;
        --button-color: #FFF;
        --button-background:#404BBF;
        --hero-button-background:#4D5AE5; 
        --border-button-color: #E7E9FC;
        --customers-color: #8E8F99;
        --items: 3;
        --indent: 24px;
        --indent2: 16px;

}

/* Common Styles */
body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

img {
        display: block;
}

/* Reset */
h1, h2, h3, h4, h5, h6, p, ul {
        margin:0;
        padding: 0;
}

/**
  |============================
  | Header Styles-index
  |============================
*/

/* Base style for */

.container {
        min-width: 320px;
        max-width: 428px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 16px;
        padding-left: 16px;
        outline: 2px solid red;
        outline-offset: -2px;
}

/* Tablet Screen */

@media screen and (min-width: 768px) {
.container {
        max-width: 768px;
}
}

/* Desktop Screen */

@media screen and (min-width: 1158px) {
.container {
        max-width: 1158px;
        padding-right: 15px;
        padding-left: 15px;
}
}

.header-class {
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);        
}

.header-nav-list {
        display: flex;
        align-items: center;
}

.header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

}

.header-link-logo {
        color: var(--text-color);
        font-size: 18px;
        font-family: "Raleway", sans-serif;
        text-decoration: none;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        align-items: center;
        margin-right: 120px;
        color: #404bbf;
        padding-top: 25.5px;
        padding-bottom: 23.5px;
        
}

@media only screen and (min-width: 768px) {
        .header-link-logo .header-name {
        /* margin-right: 120px; */
        }
}

@media only screen and (min-width: 1158px) {
        .header-link-logo .header-name {
        margin-right: 76px;
        }
}


.link {
        text-decoration: none;
        
}

.header-name {
        color: var(--logo-color);
}

.header-list {
        /* font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.32px;
        display: flex;
        align-items: center;
        gap: 40px; */
}

@media only screen and (max-width: 767.98px) {
.header-list {
        display: none;
}
}
@media only screen and (min-width: 768px) {
        .header-list {
        display: flex;
        gap: var(--indent);
        align-items: center;
        --indent: 40px;
}
}


.list {
        list-style-type: none;
}

.header-items {
        flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.header-link {
        font-size: 16px;
        color: var(--logo-color);
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        align-items: center;
        padding: 24px 0;
        display: block;
        position: relative;
        color: #2E2F42;
        
}

.header-link:hover {color: #404BBF;}
.header-link:focus {color:#404BBF}

.active {
        color:#404bbf;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link.active::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #404BBF;
        border-radius: 2px;
        bottom: -1px;
        box-sizing: border-box;
        cursor: auto;
}



.address-items {
        /* text-decoration: none;
        font-style: normal;
         */
}

@media only screen and (min-width: 1158px) {
        .address-items {
        flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
        }
}

@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
        .address-items:not(:last-child) .address-link {
        margin-bottom: 12px;
        }
}

@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
        .address-items:first-child  {
        padding-top: 16px;
        padding-bottom: 0;
        }
}        

  .address-items:last-child {
        padding-top: 0;
        padding-bottom: 16px;
  }

.address-link {
        text-decoration: none;
        color: var(--secondary-color);
        font-style: normal;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.48px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

@media only screen and (min-width: 1158px) {
        .address-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        }
}

.address-link:hover {color: #404BBF}
.address-link:focus {color:#404BBF}

.company-address {
        font-style: normal;
        margin-left: auto;
}

@media only screen and (max-width: 767.98px) {
        .company-address {
        display: none;
        }
}

.address-list {

}
@media only screen and (min-width: 768px) {
        .address-list {
        gap: 12px;
        display: flex;
        flex-direction: column;
        }
}


@media only screen and (min-width: 1158px) {
.address-list {
        display: flex;
        gap: var(--indent);
        --items: 2;
        --indent: 40px;
}
}

.menu-toggle-icon {
        stroke: var(--logo-color);
}

.menu-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 32px;
        min-height: 22px;
        padding: 0;
        border: none;
        background-color: transparent;
        outline: none;
}

@media only screen and (min-width: 768px) {
        .menu-toggle {
        display: none;
        }
}

.menu-toggle:hover,
.menu-toggle:focus {
        background-color: rgba(0, 0, 0, 0.1);
}




/**
  |============================
  | Hero Style-index
  |============================
*/
.hero-section {
        margin: 0 auto;
        padding-top: 112px;
        padding-bottom: 112px;
        background-color: var(--logo-color);
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
        url(../images/hero-image/mob-1x.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
}

/* Retina screen */
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
        .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), 
        url(../images/hero-image/mob-2x.jpg);
        }
}

@media only screen and (min-width: 429px) {
        .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), 
        url(../images/hero-image/tab-1x.jpg);
        }
}

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
        .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), 
        url(../images/hero-image/tab-2x.jpg);
          }
  }

  @media only screen and (min-width: 769px) {
        .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)),
        url(../images/hero-image/desk-1x.jpg);
          }
        }

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
        .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), 
        url(../images/hero-image/desk-2x.jpg);
        }
}
@media only screen and (min-width: 768px) {
        .hero-section {
        padding-top: 188px;
        padding-bottom: 188px;
        }
}

@media only screen and (min-width: 1158px) {
        .hero-section {
        max-width: 1440px;
        }
}

.hero-name {
        max-width: 320px;
        margin: 0 auto;
        margin-bottom: 72px;
        color: var(--button-color);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        text-transform: capitalize;
}

@media only screen and (min-width: 768px) {
        .hero-name {
        max-width: 496px;
        margin-bottom: 36px;
        font-size: 56px;
        line-height: 1.07;
        }
}

@media only screen and (min-width: 1158px) {
        .hero-name {
        margin-bottom: 48px;
        }
}

.hero-button {
        display: block;
        min-width: 169px;
        min-height: 56px;
        margin: 0 auto;
        padding: 16px 32px;
        border: none;
        border-radius: 4px;
        background-color: var(--hero-button-background);
        color: var(--button-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

.hero-button:hover {background-color: #404BBF;}
.hero-button:focus {background-color: #404BBF;}

/**
  |============================
  | Features Styles-index
  |============================
*/
.feature-section {
        padding-top: 96px;
        padding-bottom: 96px;

}

@media only screen and (min-width: 1158px) {
        .feature-section {
        padding-top: 120px;
        padding-bottom: 120px;
        }
}

.features-section-list{
        /* display: flex;
        gap: 24px;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between; */
 
}

.features-section {
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        margin-bottom: 8px;
        color: var(--logo-color);
}

@media only screen and (min-width: 768px) {
        .features-section-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: var(--indent);
        --items: 2;
        }
}

@media only screen and (min-width: 1158px) {
        .features-section-list {
        gap: var(--indent);
        --items: 4;
        }
}

.features-list {
        /* width: calc((100% - 72px) / 4);
        flex-direction: column; */
}

@media only screen and (max-width: 767.98px) {
        .features-list:not(:last-child) {
        margin-bottom: 72px;
        }
}
@media only screen and (min-width: 768px) {
        .features-list{
        display: flex;
        flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
        flex-direction: column;
        gap: 8px;
        }
}

.features-section {
        color: var(--logo-color);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
}

@media only screen and (min-width: 768px) {
        .features-section {
        text-align: left;
        }
}

@media only screen and (min-width: 1158px) {
        .features-section {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        }
}

.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
        
}

.feature-items {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
        letter-spacing: 0.32px;
        color: var(--secondary-color);
}

@media only screen and (min-width: 1158px) {
        .feature-items {
        font-weight: 400;
        }
}



.features-svg {
        display: none;
}

@media only screen and (min-width: 1158px) {
        .features-svg {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 112px;
        border-radius: 4px;
        background-color: #f4f4fd;
                        }
                }
/**
  |============================
  | What are we doing/Duties Styles-index
  |============================
*/

.duties-section {
        display: none;
}

@media only screen and (min-width: 1158px) {
        .duties-section {
        display: block;
        padding-bottom: 120px;
        }
}

.duties-list {
        display: flex;
        gap: var(--indent);

}

.duties {
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--logo-color);
        text-align: center;
        line-height: 1.11;
        margin-bottom: 72px;

}

.duties-photo {
        flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

/**
  |============================
  | Our Team Styles-index
  |============================
*/

.our-team-section {
        background-color: var(--background-color);
        padding-top: 96px;
        padding-bottom: 96px;
}

@media only screen and (min-width: 1158px) {
        .our-team-section {
                padding-top: 120px;
                padding-bottom: 120px;
        }
}

.employees-positions-names {
        padding: 32px 0;
        text-align: center;

}

.our-team {
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--logo-color);
        line-height: 1.11;
        text-align: center;
        margin-bottom: 72px;

}

.our-team-class {
 
}
@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
        .our-team-class {
        max-width: 584px;
        }
}

@media only screen and (min-width: 768px) {
        .employees-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 64px;
        column-gap: var(--indent);
        --items: 2;
        }
}

@media only screen and (min-width: 1158px) {
        .employees-list {
        gap: var(--indent);
        --items: 4;
        }
}

.employee-photo {
        background-color: var(--primary-white-color);
        border-radius: 0 0 4px 4px;
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
        
}

@media only screen and (max-width: 767.98px) {
        .employee-photo:not(:last-child) {
                margin-bottom: 72px;
        }
}
  .employee-photo {
          width: 264px;
          margin: 0 auto;
  }

  @media only screen and (min-width: 768px) {
        .employee-photo {
        flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
          }
  }

.employee-name {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.4px;
        color: var(--logo-color);
        line-height: 1.2;
        margin-bottom: 8px;
        text-align: center;

}

.employee-job {
        font-size: 16px;
        letter-spacing: 0.02em;
        color: var(--secondary-color);
        line-height: 1.5;
        text-align: center;
}
.employee-list {
        background-color: var(--primary-white-color);
}

.team-media-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        margin-top: 8px;
        list-style: none;
        }
.team-media-item {
        width: 40px;
        height: 40px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        box-sizing: border-box;
        display: list-item;
        text-align: match-parent;
}

.team-media-icon {
        fill: var(--background-color);
}

.media-list {
        color: var(--background-color);
        width: 40px;
        height: 40px;
        background-color: var(--text-color);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a.media-list:hover,
a.media-list:focus {
        background-color: #404bbf;
}

/**
  |============================
  | Footer Section Styles-index
  |============================
*/
.footer {
        padding-top: 96px;
        padding-bottom: 96px;
        background-color: var(--logo-color);
        text-align: center;
}

@media only screen and (min-width: 1158px) {
        .footer {
        padding-top: 100px;
        padding-bottom: 100px;
        }
}

.container-footer {
        display: flex;
        gap: 72px;
        flex-direction: column;
        align-items: center;
}

@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
        .container-footer {
        padding: 0 108px;
        }
}

@media only screen and (min-width: 768px) {
        .container-footer {
        flex-direction: row;
        flex-wrap: wrap;
        text-align: left;
        gap: 72px 24px;
        align-items: baseline;
}
}

@media only screen and (min-width: 1158px) {
        .container-footer {
        flex-wrap: nowrap;
        align-items: baseline;
        gap: 0;
}
}
 
.footer-container-text {}

@media only screen and (max-width: 767.98px) {
        .footer-container-text {
        
        }
}

@media only screen and (min-width: 1158px) {
        .footer-container-text {
        margin-right: 120px;
        }
}

@media only screen and (min-width: 1158px) {
        .footer-container-text {
        margin-right: 120px;
        }
}

.footer-logo {
        font-size: 18px;
        font-weight: 800;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--text-color);
        font-family: "Raleway", sans-serif;
        line-height: 1.17;
        text-decoration: none;
        margin-bottom: 16px;
        display: inline-block;
        
}

@media only screen and (min-width: 768px) {
        .footer-logo {
        text-align: left;
        }
}

.footer-logo-studio {
        color: var(--background-color);
}

.footer-mission {
        color: var(--background-color);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        max-width: 268px;
        margin-left: auto;
        margin-right: 0%;
        text-align: left;

}

@media only screen and (max-width: 767.98px) {
        .footer-mission {
        max-width: 268px;
        margin: 0 auto;
}
}

.footer-media-class {
     
}

@media only screen and (max-width: 767.98px) {
        .footer-media-class {
        
        }
}

@media only screen and (min-width: 1158px) {
        .footer-media-class {

        }
}

.footer-media-title {
        color: var(--primary-white-color);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
        margin-bottom: 16px;
        text-align: center;

}

@media only screen and (min-width: 768px) {
        .footer-media-title {
        text-align: left;
        }
}

.footer-media-list {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-top: 8px;
}

.footer-media-item {
        width: 40px;
        height: 40px;
        display: list-item;
        text-align: match-parent;
}

.footer-media-link {
        color: var(--background-color);
        width: 100%;
        height: 100%;
        background-color: var(--hero-button-background);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-media-icon {
        fill: var(--background-color);
}

.footer-media-link:hover,
.footer-media-link:focus {
        background-color: #31d0aa;
}
.footer-subscribe {

}



.footer-subscribe-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #ffffff;
        margin-bottom: 16px;
}

.footer-subscribe-input {
        width: 264px;
        height: 40px;
        border: 1px solid #ffffff;
        background-color: transparent;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        padding-left: 16px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        color: #ffffff;
}

.media only screen and (min-width: 768px) {
        .footer-subscribe-input {
        display: flex;
        gap: 24px;
        align-items: baseline;
        }
}
.footer-btn-subscribe {
        min-width: 165px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        cursor: pointer;
        background-color: #4d5ae5;
        border: none;
        border-radius: 4px;
        fill: #ffffff;
}

.footer-btn-subscribe:hover {
        background-color: #404BBF;
}

.footer-btnsubscribe-icon {
        margin-left: 16px;
}

.footer-form-subscribe {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-input::placeholder {
        color: #ffffff;
}

@media only screen and (max-width: 767.98px) {

        .footer-subscribe,
        .footer-subscribe-input,
        .footer-subscribe-label {
        width: 100%;
        }
}

@media only screen and (min-width: 1158px) {
        .footer-subscribe {
                margin-left: auto;
        }
}

/**
  |============================
  | Buttons Styles-Portfolio
  |============================
*/

.main-portfolio {
        padding: 96px 0 120px 0;
}

.project-button:hover {
        background-color: var(--button-background);
        color: var(--button-color);
        border: 1px solid transparent;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.project-button:focus {
        background-color: var(--button-background);
        color: var(--button-color);
        border: 1px solid transparent;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.project-button {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.04em;
        color: var(--text-color);
        background-color: var(--background-color);
        cursor: pointer;
        font-family: inherit;
        line-height: 1.5;
        font-family: "Roboto", sans-serif;
        padding: 12px 24px;
        border: 1px solid var(--border-button-color);
        border-radius: 4px;
        transition: 
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-button-list {
        margin-bottom: 72px;
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 24px;
        }
        

.project-buttonsitem {

}
       


/**
  |============================
  | Projects Styles-Portfolio
  |============================
*/
.company-services {
        font-size: 20px;
        font-weight: 500;
        color: var(--logo-color);
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
        
}

.company-services-descrpiption {
        padding: 32px 16px;
        border: 1px solid var(--border-button-color);
        border-top: none;
}

.company-services-img {
        width: calc((100% - 48px) / 3);
        }

.company-depts {
        font-size: 16px;
        color: var(--secondary-color);
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.company-services-list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
}
.company-illustrations {
        text-decoration: none;
        display: block;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-overlay {
        display: flex;
        padding: 0;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        }

.overlay-description {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        flex-shrink: 0;
        color: #F4F4FD;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.32px;
        background-color: #4D5AE5;
        align-items: center;
        text-align: center;
        padding: 40px 32px;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-illustrations:hover .overlay-description,
.company-illustrations:focus .overlay-description {
        transform: translateY(0%);
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
        
}

.company-illustrations:hover {
      box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);;  
}

.company-illustrations:focus {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

/**
  |============================
  | Customers Styles
  |============================
*/

.section-customers {
        padding-top: 96px;
        padding-bottom: 96px;
}

@media only screen and (min-width: 1158px) {
        .section-customers {
        padding-top: 120px;
        padding-bottom: 120px;
        }
}

.customers-header {
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
        text-align: center;
        margin-bottom: 72px;
}

.customers-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 16px;
        --items: 2;
        list-style-type: none;

}

@media only screen and (min-width: 768px) {
        .customers-list {
        column-gap: var(--indent);
        --items: 3;
        }
}

@media only screen and (min-width: 1158px) {
        .customers-list {
        gap: var(--indent);
        --items: 6;
        }
}

.customers-items {
        flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
        height: 88px;
}



.customers-link {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--customers-color);
        border: 1px solid #8E8F99;
        border-radius: 4px;
        width: 100%;
        height: 100%;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);


        }

.customers-link:hover,
.customers-link:focus {
        fill: currentColor;
        border-color: #404bbf;
}

.customers-link:hover,
.customers-link:focus {
        border-color: #404BBF;
        color: #404bbf;
}

.customers-icons {
        fill: currentColor;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: hidden;
}

/**
  |============================
  | Modal Window Styles
  |============================
*/
.backdrop.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
}
.backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(46, 47, 66, 0.4);
        z-index: 100;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 408px;
        min-height: 584px;
        flex-shrink: 0;
        border-radius: 4px;
        background: #FCFCFC;
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        background-color: #E7E9FC;
        border-radius: 50%;
        border: none;
        padding: 0;
        border: 1px solid rgba(0, 0, 0, 0.1);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: #2E2F42;
        cursor: pointer;
}
.modal-icon {
        fill: currentColor;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

.modal-btn:hover,
.modal-btn:focus {
        background-color: #404bbf;
        color: #fff;
        border: none;
}

.modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 408px;
        height: 584px;
        min-height: 584px;
        background: var(--dairy, #FCFCFC);
        border-radius: 4px;
        flex-shrink: 0;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
        padding: 72px 24px 24px 24px;
        }

.modal-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        text-align: center;
        color: #2E2F42;
        margin-bottom: 16px;
        letter-spacing: 0.02em;
}

.div-form-label {
        margin-bottom: 8px;
}
.modal-label {
        letter-spacing: 0.02em;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8E8F99;
        display: block;
        margin-bottom: 4px;
        font-size: 12px;
}

.modal-input {
        width: 100%;
        height: 40px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        background-color: transparent;
        padding-left: 38px;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        font-size: 18px;
}

.modal-form-icon {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        fill: #2E2F42;
}

.div-modal-input {
        position: relative;
}

.div-comment {
        margin-bottom: 16px;
}
.modal-textarea {
        width: 100%;
        height: 120px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        background-color: transparent;
        padding: 8px 16px;
        outline: transparent;
        resize: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: block;
}

.form-field {
        margin-bottom: 24px;
}

.hero-btn {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #FFFFFF;
        background: #4D5AE5;
        min-width: 169px;
        height: 56px;
        padding: 16px 32px;
        border-radius: 4px;
        border: 0;
        margin: 0 auto;
        display: block;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
        background: #404BBF;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.user-privacy-label {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
}

.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.span-privacy-label {
        width: 16px;
        height: 16px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 2px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        fill: transparent;
        margin-right: 8px;
}
.privacy-policy-link {
        color: #4d5ae5;
}

.accept-input:checked+.user-privacy-label>.span-privacy-label {
        fill: #f4f4fd;
        background-color: #404bbf;
        border: none;
}

.modal-input:focus {
        border-color: #4D5AE5;
}
.modal-input:focus+.modal-form-icon {
        fill: #4D5AE5;
}
.modal-textarea:focus {
        border-color: #4D5AE5;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/**
  |============================
  | Mobile menu
  |============================
*/
.menu-toggle {
        min-height: 40px;
        min-width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 0;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
        border: none;
        border-radius: 50%;
        outline: none;
}

@media (min-width: 768px) {
        .menu-toggle {
                display: none;
        }
}

/* Mobile Burger Button */

.menu-toggle:hover,
.menu-toggle:focus {
        background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 32px;
        background-color: #ffffff;
        z-index: 999;
        transform: translateX(100%);
        transition: transform 250ms ease-in-out;
        display: flex;
        flex-direction: column;
}

.menu-container.is-open {
        transform: translateX(0);
}

.menu-toggle.js-close-menu {
        border: 1px solid var(--border-button-color);
        border-radius: 50%;
        cursor: pointer;
        width: 24px;
        height: 24px;
}

.menu-close-icon {
        fill: var(--logo-color);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container .menu-toggle {
        position: absolute;
        top: 24px;
        right: 24px;
}

.mobile-menu {
        padding: 0;
        margin: 0;
        list-style: none;
}

.mobile-menu {
        padding: 0;
        margin: 0;
        list-style: none;
        width: fit-content;
        margin-bottom: auto;
}

.mobile-menu-item:not(:last-child) {
        margin-bottom: 40px;
}

.mobile-menu .link {
        display: block;
        padding: 10px;
        color: #fff;
        text-decoration: none;
}

.mobile-menu-link {
        text-decoration: none;
        color: var(--logo-color);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-transform: capitalize;
        
}

.mobile-menu-link.active {
        color: var(--button-background);
}

.address-mobile {
        margin-bottom: 48px;
}

.address-mobile-item:not(:last-child) {
        margin-bottom: 40px;
}

.address-mobile-tel {
        color: var(--hero-button-background);
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-transform: capitalize;
}
.address-mobile-mail {
        color: #434455;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
}

.address-mobile-item {
        width: fit-content;
}

.list-media-mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
}

.item-media-mobile {
        width: 40px;
        height: 40px;
}

.media-mobile-link {
        width: 100%;
        height: 100%;
        background-color: var(--hero-button-background);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}